.cuf-content {
    padding: 0 0rem !important;
}
.slds-p-around_medium {
    padding: 0rem !important;
}
.slds-modal__content {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;
}
/* .slds-table_bordered tbody tr:hover {
    background-color: transparent;
} */

.slds-form-element_horizontal .slds-form-element__label {
    white-space: nowrap;
}